@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,600");

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('font/source_sans.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('font/source_sans_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('font/source_sans_italic.woff2') format('woff2');
}

@font-face {
    font-family: 'DrRcraft Hack';
    src: url('font/hack-regular.woff2') format("woff2"), url('font/hack-regular.woff') format("woff");
}

@font-face {
    font-family: 'DrRcraft Hack';
    font-weight: bold;
    src: url('font/hack-bold.woff2') format("woff2"), url('font/hack-bold.woff') format("woff");
}

@font-face {
    font-family: 'DrRcraft Hack';
    font-style: italic;
    src: url('font/hack-italic.woff2') format("woff2"), url('font/hack-italic.woff') format("woff");
}

@font-face {
    font-family: 'DrRcraft Hack';
    font-style: italic;
    font-weight: bold;
    src: url('font/hack-bolditalic.woff2') format("woff2"), url('font/hack-bolditalic.woff') format("woff");
}

html, body {
    min-height: 100%;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0 0 0.3125rem;
    line-height: 1.45rem;
    background: #ebeced;
    font-size: 0.9375rem;
    position: relative;
}

body[seasonal-extras="true"] {
    background: #ebeced url("light-winter-grass.svg") repeat-x bottom;
}

body[theme="dark"] {
    background: #0e1525;
    color: white;
}

body[theme="dark"][seasonal-extras="true"] {
    background: #0e1525 url("dark-winter-grass.svg") repeat-x bottom;
}

body[theme="spooky"] {
    background: #020203;
    color: white;
}

body[theme="spooky"][seasonal-extras="true"] {
    background: #020203 url("dark-winter-grass.svg") repeat-x bottom;
}

header, article, footer nav {
    max-width: 720px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.625rem;
    line-height: 2.0625rem;
    margin: 2.3125rem 0 0.75rem;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin: 1.625rem 0 0.75rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 1.5625rem 0 0.75rem;
}

a {
    text-decoration: none;
}

header {
    padding: 3.875rem 0.1875rem 0;
}

header > h1 {
    text-align: center;
    margin: 3.9375rem 0 3.125rem;
}

header nav, footer nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
}

a.logo {
    padding-left: 5.125rem;
    letter-spacing: -0.0625rem;
    background-image: url("logo.svg");
    background-size: 30%;
    background-position: center left;
    background-repeat: no-repeat;
    font-size: 2.125rem;
    line-height: 2.3125rem;
}

strong {
    font-weight: 600;
}

.explorer, .explorer-hoverable {
    color: #d96d00;
}

.explorer-hoverable:hover {
    color: #ffcc99;
}

nav a:link, nav a:visited, a.blocklink:link, a.blocklink:visited, code a:link, code a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, body[theme="dark"] nav a:link, body[theme="dark"] nav a:visited, body[theme="dark"] a.blocklink:link, body[theme="dark"] a.blocklink:visited, body[theme="dark"] code a:link, body[theme="dark"] code a:visited, body[theme="dark"] h2 a:link, body[theme="dark"] h2 a:visited, body[theme="dark"] h3 a:link, body[theme="dark"] h3 a:visited, body[theme="dark"] h4 a:link, body[theme="dark"] h4 a:visited, body[theme="spooky"] nav a:link, body[theme="spooky"] nav a:visited, body[theme="spooky"] a.blocklink:link, body[theme="spooky"] a.blocklink:visited, body[theme="spooky"] code a:link, body[theme="spooky"] code a:visited, body[theme="spooky"] h2 a:link, body[theme="spooky"] h2 a:visited, body[theme="spooky"] h3 a:link, body[theme="spooky"] h3 a:visited, body[theme="spooky"] h4 a:link, body[theme="spooky"] h4 a:visited {
    color: inherit;
}

code, pre {
    font-size: 0.875rem;
}

pre {
    background-color: #f0f1f2;
    line-height: 1.375rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    overflow-x: auto;
    margin: 0;
}

blockquote {
    font-style: italic;
    background-color: #80808020;
    border-left: 0.5rem solid #80808080;
    margin: 0;
    padding: 0.5rem;
}

blockquote p {
    margin: 0;
}

body[theme="dark"] pre {
    background-color: #1c2333;
}

body[theme="spooky"] pre {
    background-color: #292c33;
}

code, pre, .cm-editor .cm-scroller {
    font-family: 'DrRcraft Hack', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

a.blocklink:hover, nav a.active, a:link, a:visited {
    color: #066adf;
}

body[theme="dark"] a.blocklink:hover, body[theme="dark"] nav a.active, body[theme="dark"] a:link, body[theme="dark"] a:visited {
    color: #4bafff;
}

body[theme="spooky"] a.blocklink:hover, body[theme="spooky"] nav a.active, body[theme="spooky"] a:link, body[theme="spooky"] a:visited {
    color: #d96d00;
}

.navlinks {
    flex-grow: 1;
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .navlinks {
    align-items: center;
}

.navlinks > a {
    margin-left: 1.0625rem;
    padding-bottom: 0.1875rem;
}

.navlinks > a:hover {
    color: #066adf;
}

body[theme="dark"] .navlinks > a:hover {
    color: #4bafff;
}

body[theme="spooky"] .navlinks > a:hover {
    color: #d96d00;
}

nav#toc {
    position: absolute;
    top: 8.75rem;
    right: calc(50% + 22.5rem);
    color: #888;
    min-width: 9.375rem;
    max-width: 12.5rem;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    padding: 0.625rem 2.5rem 1.875rem 0.625rem;
    direction: rtl;
    font-size: 0.875rem;
    line-height: 1.45rem;
    font-weight: 600;
}

nav#toc.fixed {
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
}

nav#toc > * {
    direction: ltr;
}

nav#toc input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    line-height: inherit;
    font: inherit;
    background: rgba(0, 0, 0, 0.1);
    color: inherit;
    outline: none;
    margin-top: 1.25rem;
    padding: 0.25rem;
}

nav#toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#toc ul ul {
    padding-left: 1.25rem;
}

#searchbox ul.results {
    font-size: 85%;
    padding-left: 0.1875rem;
    cursor: pointer;
}

#searchbox ul.results li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.025);
}

#searchbox ul.results li:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}

#searchbox input.active {
    border-bottom: 0.0625rem solid silver;
}

article {
    padding: 0.625rem 0.1875rem 10rem;
}

footer {
    margin-bottom: 3.375rem;
    padding: 0.875rem 0.1875rem 0;
}

h2.hr {
    font-size: 0.75rem;
    margin: 1.875rem 0 1.375rem;
}

hr, h2.hr:after {
    display: block;
    content: "";
    border: none;
    border-bottom: 0.125rem solid #e5e5e5;
    margin-top: -0.125rem;
}

hr {
    margin: 2.8125rem 0 2.4375rem;
}

h2.above-list {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin-bottom: 2.3125rem;
    margin-top: 2.625rem;
}

h2.module {
    margin-top: 15.625rem;
    font-size: 1.75rem;
    line-height: 1.875rem;
    padding-top: 0.625rem;
    border-bottom: 0.0625rem solid black;
}

ul.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    padding: 0;
    gap: 2rem;
    position: relative;
}

ul.grid-list > li {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

ul.grid-list p {
    margin: 0;
}

ul.grid-list-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    padding: 0;
    gap: 1.0625rem;
}

ul.grid-list-3 > li {
    display: block;
}

ul.grid-list-3 h3 {
    font-size: 100%;
    margin: 0;
}

ul.grid-list-3 p {
    margin: 0.5rem 0 0.75rem;
}

ul.grid-list-5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
    padding: 0;
    gap: 1.0625rem;
}

ul.grid-list-5 > li {
    display: block;
}

ul.grid-list-5 strong {
    font-size: 110%;
}

p, dl, dd, dt.lone, ul, ol, pre {
    margin-bottom: 1.4375rem;
}

li ul, li ol {
    margin-bottom: 0;
}

p, dl {
    margin-top: 1em;
}

ul.grid-list h3 {
    margin: 0 0 0.5625rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 830px) {
    h1 {
        font-size: 1.375rem;
    }

    a.logo {
        padding-left: 3.125rem;
        letter-spacing: -0.0625rem;
        background-size: 2.875rem;
        background-position: center left;
        background-repeat: no-repeat;
        font-size: 1.5rem;
        line-height: 1.875;
    }

    body {
        margin: 0 0.1875rem;
    }
}

dd p, dd ul, dd ol {
    margin: 0;
}

dd {
    margin-left: 1.25rem;
}

dt {
    line-height: 1.35;
}

.breaktype {
    padding-left: 1.25rem;
}

h2 .keyword, h3 .keyword, h4 .keyword {
    font-weight: 600;
    margin-bottom: -0.25rem;
    color: black;
}

h2 .keyword {
    font-size: 1.125rem;
}

h3 .keyword {
    font-size: 1rem;
}

h4 .keyword {
    font-size: 0.875rem;
}

div.figure {
    margin: 1em;
}

.figure img {
    width: 25rem;
    max-width: 90%;
}

.cm-editor {
    max-height: 25rem;
    border: 0.0625rem solid silver;
    font-size: 0.875rem;
    background-color: #fcfcfc;
}

body[theme="dark"] .cm-editor {
    background-color: #1c2333;
}

body[theme="spooky"] .cm-editor {
    background-color: #292c33;
}

.cm-scroller {
    overflow: auto;
}

/* Code highlighting styles */
.tok-keyword, .fn, .keyword {color: #005cb8;}
.tok-atom {color: #005cb8;}
.tok-bool {color: #004182;}
.tok-number, .prim {color: #466900;}
.tok-attribute {color: #004182;}
.tok-typeName, .tok-className {color: #005cb8;}
.tok-literal {color: #736000;}
.tok-comment {color: #98999c;}
.tok-string, .string {color: #964b00;}
.tok-string2 {color: #ab2980;}
.tok-propertyName {color: #004182;}
.tok-operator {color: #004182;}
.tok-labelName, .tok-function {color: #736000;}
.tok-meta {color: #005cb8;}
.tok-angleBracket {color: #5c5f66;}
.tok-invalid {color: #c00;}

body[theme="dark"] .tok-keyword, body[theme="dark"] .fn, body[theme="dark"] .keyword {color: #57abff;}
body[theme="dark"] .tok-atom {color: #57abff;}
body[theme="dark"] .tok-bool {color: #b2d9ff;}
body[theme="dark"] .tok-number, body[theme="dark"] .prim {color: #c4e581;}
body[theme="dark"] .tok-attribute {color: #b2d9ff;}
body[theme="dark"] .tok-typeName, body[theme="dark"] .tok-className {color: #57abff;}
body[theme="dark"] .tok-literal {color: #f2e088;}
body[theme="dark"] .tok-comment {color: #009118;}
body[theme="dark"] .tok-string, body[theme="dark"] .string {color: #ffbd7a;}
body[theme="dark"] .tok-string2 {color: #ff70cf;}
body[theme="dark"] .tok-propertyName {color: #b2d9ff;}
body[theme="dark"] .tok-operator {color: #b2d9ff;}
body[theme="dark"] .tok-labelName, body[theme="dark"] .tok-function {color: #f2e088;}
body[theme="dark"] .tok-meta {color: #57abff;}
body[theme="dark"] .tok-angleBracket {color: #9da2a6;}
body[theme="dark"] .tok-invalid {color: #c88;}

body[theme="spooky"] .tok-keyword, body[theme="spooky"] .fn, body[theme="spooky"] .keyword {color: #7fbfff;}
body[theme="spooky"] .tok-atom {color: #7fbfff;}
body[theme="spooky"] .tok-bool {color: #b2d9ff;}
body[theme="spooky"] .tok-number, body[theme="spooky"] .prim {color: #c4e581;}
body[theme="spooky"] .tok-attribute {color: #b2d9ff;}
body[theme="spooky"] .tok-typeName, body[theme="spooky"] .tok-className {color: #7fbfff;}
body[theme="spooky"] .tok-literal {color: #fff2b2;}
body[theme="spooky"] .tok-comment {color: #36b24a;}
body[theme="spooky"] .tok-string, body[theme="spooky"] .string {color: #ffd9b2;}
body[theme="spooky"] .tok-string2 {color: #ff8ad8;}
body[theme="spooky"] .tok-propertyName {color: #b2d9ff;}
body[theme="spooky"] .tok-operator {color: #b2d9ff;}
body[theme="spooky"] .tok-labelName, body[theme="spooky"] .tok-function {color: #fff2b2;}
body[theme="spooky"] .tok-meta {color: #7fbfff;}
body[theme="spooky"] .tok-angleBracket {color: #9da2a6;}
body[theme="spooky"] .tok-invalid {color: #c88;}

.ͼ1 .cm-selectionMatch {background: #d2d4d6;}
.ͼ2.cm-focused > .cm-scroller > .cm-selectionLayer > .cm-selectionBackground {background: #b2d9ff;}

body[theme="dark"] .ͼ1 .cm-selectionMatch, body[theme="spooky"] .ͼ1 .cm-selectionMatch {background: #4e5569;}
body[theme="dark"] .ͼ2 .cm-selectionBackground, body[theme="spooky"] .ͼ2 .cm-selectionBackground {background: #68696a80;}
body[theme="dark"] .ͼ2.cm-focused > .cm-scroller > .cm-selectionLayer > .cm-selectionBackground {background: #004182;}

body[theme="spooky"] .ͼ2.cm-focused > .cm-scroller > .cm-selectionLayer > .cm-selectionBackground {background: #753b00;}

.ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {
    border-left: 0.125rem solid #0f87ff;
    border-radius: 0.125rem;
}

body[theme="spooky"] .ͼ1 .cm-cursor, body[theme="spooky"] .ͼ1 .cm-dropCursor {
    border-left-color: #d96d00;
}

.ͼ2 .cm-gutters, .ͼ2 .fold-gutter-marker {
    background-color: transparent;
    border-right: none;
    color: #5c5f66;
}

body[theme="dark"] .ͼ2 .cm-gutters, body[theme="dark"] .ͼ2 .fold-gutter-marker, body[theme="spooky"] .ͼ2 .cm-gutters, body[theme="spooky"] .ͼ2 .fold-gutter-marker {
    color: #9da2a6;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}

.ͼ1 .cm-foldGutter .cm-gutterElement {
    padding-right: 0.25rem;
}

.ͼ1 .fold-gutter-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 120ms;
    transition-timing-function: ease-out;
}

/* .ͼ1 .cm-foldGutter .cm-gutterElement span {
    transform: translate(-0.21875rem, -0.03125rem) scale(1.125, 1.5) rotate(-90deg);
    display: inline-block;
}

.ͼ1 .cm-foldGutter .cm-gutterElement span[title="Fold line"] {
    opacity: 0;
    transition: opacity 0.2s;
    transform: translateY(-0.3125rem) scale(1.5, 1.125);
}*/

.ͼ1 .fold-gutter-marker:hover {
    opacity: 1;
}

.ͼ2 .cm-activeLine, .ͼ2 .cm-activeLineGutter {
    background: inherit;
}

.ͼ2.cm-focused .cm-activeLine, .ͼ2.cm-focused .cm-activeLineGutter {
    background: #f0f1f280;
    color: #07080a;
}

body[theme="dark"] .ͼ2.cm-focused .cm-activeLine, body[theme="dark"] .ͼ2.cm-focused .cm-activeLineGutter {
    background: #2b324580;
    color: #f5f9fc;
}

body[theme="spooky"] .ͼ2.cm-focused .cm-activeLine, body[theme="spooky"] .ͼ2.cm-focused .cm-activeLineGutter {
    background: #383b4280;
    color: #f5f9fc;
}

.ͼ1 .cm-tooltip {
    border-radius: 0.5rem;
    border: none;
}

body[theme="dark"] .ͼ1 .cm-tooltip {
    background-color: #2b3245;
}

body[theme="spooky"] .ͼ1 .cm-tooltip {
    background-color: #383b42;
}

.ͼ1 .cm-diagnosticSource {
    line-height: 1.5;
}

.ͼ1 .cm-css-color-picker-wrapper {
    outline: 0.0625rem solid black;
    transform: translateY(.125rem);
}

body[theme="dark"] .ͼ1 .cm-css-color-picker-wrapper, body[theme="spooky"] .ͼ1 .cm-css-color-picker-wrapper {
    outline-color: white;
}

.ͼ1 .cm-css-color-picker-wrapper input[type="color"] {
    transform: translateY(-0.0625rem);
}

.ͼ2 .cm-searchMatch {
    background: #fbf5b7;
}

body[theme="dark"] .ͼ2 .cm-searchMatch, body[theme="spooky"] .ͼ2 .cm-searchMatch {
    background: #64613f;
}

.ͼ1 .cm-textfield, .ͼ1 .cm-button, .ͼ1 .cm-panel.cm-search label {
    font-size: 0.9375rem;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 0.5rem;
}

.ͼ1 .cm-button {
    background-image: none;
    background-color: #dfe1e5;
    padding: 0.2em 0.4em;
    cursor: pointer;
}

.ͼ1 .cm-button:hover {
    background-color: #c9c9c9;
}

.ͼ1 .cm-button:active {
    background-image: none;
    background-color: #a4a4a4;
}

.ͼ1 .cm-textfield, .ͼ2 .cm-button {
    border: none;
    outline: none;
}

.ͼ1 .cm-textfield {
    background-color: lightgray;
}

.ͼ1 .cm-textfield:focus {
    background-color: #b3b3b3;
}

.ͼ1 .cm-panel.cm-search label input {
    accent-color: #066adf;
}

body[theme="dark"] .ͼ1 .cm-panel.cm-search label input {
    accent-color: #4bafff;
}

body[theme="spooky"] .ͼ1 .cm-panel.cm-search label input {
    accent-color: #d96d00;
}

.ͼ1 .cm-panel.cm-gotoLine label {
    font-size: 1rem;
}

body[theme="dark"] .ͼ1 .cm-textfield::placeholder, body[theme="spooky"] .ͼ1 .cm-textfield::placeholder {
    color: #ccc;
}

body[theme="dark"] .ͼ2 .cm-panels {
    background-color: #2b3245;
    color: white;
}

body[theme="dark"] .ͼ2 .cm-panels-top {
    border-bottom: 0.0625rem solid #5f677a;
}

body[theme="dark"] .ͼ1 .cm-textfield {
    background-color: #3c445c;
    border-color: #5f677a;
}

body[theme="dark"] .ͼ1 .cm-textfield:focus {
    background-color: #5c647c;
}

body[theme="dark"] .ͼ1 .cm-button {
    background-color: #3c445c;
    border-color: #5f677a;
}

body[theme="dark"] .ͼ1 .cm-button:hover {
    background-color: #5c647c;
}

body[theme="dark"] .ͼ1 .cm-button:active {
    background-color: #8c94ac;
}

body[theme="spooky"] .ͼ2 .cm-panels {
    background-color: #383b42;
    color: white;
}

body[theme="spooky"] .ͼ2 .cm-panels-top {
    border-bottom: 0.0625rem solid #5f677a;
}

body[theme="spooky"] .ͼ1 .cm-textfield {
    background-color: #474a52;
    border-color: #5f677a;
}

body[theme="spooky"] .ͼ1 .cm-textfield:focus {
    background-color: #676a72;
}

body[theme="spooky"] .ͼ1 .cm-button {
    background-color: #474a52;
    border-color: #5f677a;
}

body[theme="spooky"] .ͼ1 .cm-button:hover {
    background-color: #70788c;
}

body[theme="spooky"] .ͼ1 .cm-button:active {
    background-color: #9098ac;
}

.ͼ1 .cm-panel.cm-search [name="close"] {
    color: inherit;
}

.cm-tooltip-autocomplete > ul > li {
    width: 100%;
    font-size: 0.875rem;
    min-height: 1.4375rem;
    display: flex;
    align-items: center;
    padding: 0;
    font-family: 'DrRcraft Hack';
}

.cm-tooltip-autocomplete > ul {
    min-width: 11.25rem;
    height: 100%;
    max-height: 40vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

body[theme="dark"] .cm-tooltip-autocomplete > ul {
    background: #2b3245;
    box-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

body[theme="spooky"] .cm-tooltip-autocomplete > ul {
    background: #383b42;
    box-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.ͼ1 .cm-tooltip-autocomplete {
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.ͼ1 .cm-tooltip.cm-completionInfo {
    border: none;
    border-radius: 0.5rem;
}

body[theme="dark"] .ͼ1 .cm-tooltip.cm-completionInfo {
    background: #2b3245;
}

body[theme="spooky"] .ͼ1 .cm-tooltip.cm-completionInfo {
    background: #383b42;
}

.ͼ2 .cm-tooltip-autocomplete ul li:hover {
    background: #e5e5e5;
}

.ͼ2 .cm-tooltip-autocomplete ul li[aria-selected] {
    background: #066adf;
}

.ͼ2 .cm-tooltip-autocomplete ul li[aria-selected]:hover {
    background: #005acf;
}

body[theme="dark"] .ͼ2 .cm-tooltip-autocomplete ul li:hover {
    background: #3b4255;
}

body[theme="dark"] .ͼ2 .cm-tooltip-autocomplete ul li[aria-selected] {
    background: #0053a6;
}

body[theme="dark"] .ͼ2 .cm-tooltip-autocomplete ul li[aria-selected]:hover {
    background: #1063b6;
}

body[theme="spooky"] .ͼ2 .cm-tooltip-autocomplete ul li:hover {
    background: #484b52;
}

body[theme="spooky"] .ͼ2 .cm-tooltip-autocomplete ul li[aria-selected] {
    background: #9c4e00;
}

body[theme="spooky"] .ͼ2 .cm-tooltip-autocomplete ul li[aria-selected]:hover {
    background: #ac5e10;
}

.ͼ1 .cm-completionMatchedText {
    text-decoration: none;
    color: #167aef;
    font-weight: 600;
}

body[theme="dark"] .ͼ1 .cm-completionMatchedText {
    color: #50a3ff;
}

body[theme="spooky"] .ͼ1 .cm-completionMatchedText {
    color: #cf9255;
}

.ͼ1 .cm-tooltip-autocomplete ul li[aria-selected] .cm-completionMatchedText {
    text-decoration: none;
    color: #56baff;
}

body[theme="spooky"] .ͼ1 .cm-tooltip-autocomplete ul li[aria-selected] .cm-completionMatchedText {
    color: #ffc285;
}

.ͼ1 .cm-foldPlaceholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.35em;
}

body[theme="dark"] .ͼ1 .cm-foldPlaceholder, body[theme="spooky"] .ͼ1 .cm-foldPlaceholder {
    background-color: #222;
    border-color: #444;
    color: white;
}

.ͼ1 .emmet-preview {
    border-radius: 0.5rem;
    border: none;
}

body[theme="dark"] .ͼ1 .emmet-preview {
    background-color: #2b3245;
}

body[theme="spooky"] .ͼ1 .emmet-preview {
    background-color: #383b42;
}

.ͼ1 .cm-indentation-marker {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iI2YxZjJmMyI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

.ͼ1 .cm-indentation-marker.active {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iI2U2ZTdlOCI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

body[theme="dark"] .ͼ1 .cm-indentation-marker {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzI4MmY0MSI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

body[theme="dark"] .ͼ1 .cm-indentation-marker.active {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzM5NDI1OSI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

body[theme="spooky"] .ͼ1 .cm-indentation-marker {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzM1MzgzZiI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

body[theme="spooky"] .ͼ1 .cm-indentation-marker.active {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzQ0NDc1MCI+PC9yZWN0Pgo8L3N2Zz4K") left repeat-y;
}

#editor-ctx-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0.125rem 0.1875rem 0.3025rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0.125rem 0.1875rem 0.3025rem rgba(0, 0, 0, 0.2);
    box-shadow: 0.125rem 0.1875rem 0.3025rem rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    border: 0.0625rem solid gainsboro;
    background-color: inherit;
    vertical-align: middle;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 17rem;
}

body[theme="dark"] #editor-ctx-menu {
    border: 0.0625rem solid #3b4255;
}

body[theme="spooky"] #editor-ctx-menu {
    border: 0.0625rem solid #484b52;
}

#editor-ctx-menu button {
    color: inherit;
    background-color: transparent;
    text-align: left;
    border: 0;
    padding: 0.5rem;
    font-size: 0.9375rem;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    cursor: pointer;
}

#editor-ctx-menu button:first-child {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

#editor-ctx-menu button:last-child {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#editor-ctx-menu button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#editor-ctx-menu button:hover {
    background-color: #e5e5e5;
}

body[theme="dark"] #editor-ctx-menu button:hover {
    background-color: #2b3245;
}

body[theme="spooky"] #editor-ctx-menu button:hover {
    background-color: #383b42;
}

#editor-ctx-menu button:disabled:hover, body[theme="dark"] #editor-ctx-menu button:disabled:hover, body[theme="spooky"] #editor-ctx-menu button:disabled:hover {
    background-color: inherit;
}

#editor-ctx-menu button::after {
    content: attr(data-drrcraft-shortcut);
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 0;
    gap: 0;
    opacity: 0.75;
    padding: 0.125rem 0.25rem;
    min-width: 1rem;
    width: max-content;
    border-radius: 0;
    border: none;
    font-size: 0.75rem;
    text-align: center;
    position: absolute;
    right: 0.25rem;
    word-spacing: 0.125rem;
}

#editor-ctx-menu button.ctx-menu-sep {
    border-bottom: 0.0625rem solid gainsboro;
}

body[theme="dark"] #editor-ctx-menu button.ctx-menu-sep {
    border-bottom: 0.0625rem solid #3b4255;
}

body[theme="spooky"] #editor-ctx-menu button.ctx-menu-sep {
    border-bottom: 0.0625rem solid #484b52;
}

#editor-ctx-menu button svg {
    width: 1rem;
    height: 1rem;
}

details {
    border: 0.0625rem solid currentColor;
    border-radius: 1em;
    padding: 1em 1em 0;
}

summary {
    font-weight: bold;
    margin: -1em -1em 0;
    padding: 1em;
    cursor: pointer;
}

details[open] {
    padding: 1em;
}

details[open] summary {
    border-bottom: 0.0625rem solid currentColor;
    margin-bottom: 1em;
}

button {
    font-family: sans-serif;
    color: buttontext;
    background: #eee;
    border: 0.0625rem solid #666;
    border-radius: 0.3125rem;
    padding: 0.125rem 0.3125rem;
    cursor: pointer;
}

button.active {
    background: #eef;
    border-color: #55b;
    color: #005;
}

button:hover {
    background: white;
}

button:active {
    background: #ccc;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

body[theme="dark"] button {
    background: #111;
    border-color: #999;
    color: white;
}

body[theme="dark"] button.active {
    background: #114;
    border-color: #33d;
}

body[theme="dark"] button:hover {
    background: black;
}

body[theme="dark"] button:active {
    background: #333;
}

body[theme="dark"] select, body[theme="dark"] input[type="text"] {
    background: black;
    border-color: #999;
    border-width: 1px;
    border-style: solid;
}

body[theme="spooky"] button {
    background: #222;
    border-color: #666;
    color: white;
}

body[theme="spooky"] button.active {
    background: #421;
    border-color: #b96;
}

body[theme="spooky"] button:hover {
    background: #222;
}

body[theme="spooky"] button:active {
    background: #555;
}

body[theme="spooky"] select, body[theme="spooky"] input[type="text"] {
    background: #111;
    border-color: #666;
    border-width: 1px;
    border-style: solid;
}
