.cm-s-drrcraft-dark .cm-keyword {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-atom {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-number {
    color: #d0782a;
}

.cm-s-drrcraft-dark .cm-unit {
    color: #d0782a;
}

.cm-s-drrcraft-dark .cm-def {
    color: white;
}

.cm-s-drrcraft-dark .cm-variable {
    color: white;
}

.cm-s-drrcraft-dark .cm-variable-2 { 
    color: white;
}

.cm-s-drrcraft-dark .cm-property {
    color: #9a8297;
}

.cm-s-drrcraft-dark .cm-operator {
    color: #cccccc;
}

.cm-s-drrcraft-dark .cm-comment {
    color: #666666;
}

.cm-s-drrcraft-dark .cm-string {
    color: #96b38a;
}

.cm-s-drrcraft-dark .cm-string-2 {
    color: #FFFFFF;
}

.cm-s-drrcraft-dark .cm-meta {
    color: #666666;
}

.cm-s-drrcraft-dark .cm-header {
    color: #ff6400;
}

.cm-s-drrcraft-dark .cm-tag {
    color: #a7925a;
}

.cm-s-drrcraft-dark .cm-tag.cm-bracket {
    color: #9a6e35;
}

.cm-s-drrcraft-dark .cm-attribute {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-strong {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-em {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-qualifier {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-builtin {
    color: #ddca7e;
}

.cm-s-drrcraft-dark .cm-error {
    color: #aa3333;
}

.cm-s-drrcraft-dark .CodeMirror-linenumber {
    color: #343434;
}

.cm-s-drrcraft-dark.CodeMirror {
    color: white;
    background: #222;
}

.cm-s-drrcraft-dark .CodeMirror-gutters {
    background: #212121;
    border-right: none !important;
}

.cm-s-drrcraft-dark .CodeMirror-cursor {
    border-left: 1px solid white;
}

.cm-s-drrcraft-dark .CodeMirror-selected {
	background: #333 !important;
}

.cm-s-drrcraft-dark .CodeMirror-matchingtag {
    background: #444 !important;
    outline: 1px solid #555;
}

.cm-s-drrcraft-dark .CodeMirror-matchingbracket {
    background: #444 !important;
    outline: 1px solid #555;
    color: white !important;
}

.drrcraft-dark.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #272727;
    font-size: 90%;
    font-family: 'ReplitHack', "IBM Plex Mono", monospace;
    max-height: 20em;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.drrcraft-dark .CodeMirror-hint {
    margin: 0;
    padding: 2px 6px;
    white-space: pre;
    color: rgba(225, 225, 225, 1);
    cursor: pointer;
}

.drrcraft-dark .CodeMirror-hint::before {
    content: "t ";
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    color: #555c;
}

.drrcraft-dark li.CodeMirror-hint-active {
    background: #6610f280;
    color: whitesmoke;
}

.drrcraft-dark.CodeMirror-hints::-webkit-scrollbar {
    display: none;
}