ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 80px;
    background-color: #2198bf;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

a:hover, a:active {
    background-color: #2198bfb0;
}