body {
    background: #222;
    color: white;
}

.banner {
    background-color: #444;
}

.code, .result {
    background-color: #555;
}

.code textarea {
    background-color: #222;
    color: white;
}