div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    margin: 5px;
    border: 1px solid white;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

div.desc {
    text-align: center;
    width: 120px;
    margin: 5px;
}